<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Страница человека</h1>
<p th:object="${person}" th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}"></p>
<br/>
<div th:if="${books.isEmpty()}">Человек пока не взял ни одной книги</div>
<br/>
<div th:if="${!books.isEmpty()}">
    <p>Книги:</p>
    <table>
        <tr>
            <th>Автор</th>
            <th>Название</th>
            <th>Год выпуска</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.getAuthor()}"></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getYear()}"></td>
        </tr>
    </table>
</div>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<a href="/people">Перейти к списку пользователей</a>
<br/>
<a href="/books">Перейти к списку книг</a>
</body>
</html>